$orange                 : #F25B32;
$red                    : #ec5f5f;
$yellow                 : #F2CD00;
$blue                   : #00afeb;
$green                  : #44aa77;

$text-color-3           : #333;
$text-color-6           : #666;
$text-color-9           : #999;
